.jconfirm-closeIcon {
    visibility: hidden;
}

.fix-smooth{
    height: 500px;
}
.side-menu__icon {
    width: 17px !important;
    height: 32px !important;
    line-height: 38px !important;
    font-size: 20px !important;
}
.no-after:after{
    content: none !important;
}
